{% trans_default_domain 'admin' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Admin</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200|Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <link href="{{ asset('scriberadminpanel/vendor.css', 'scriber_admin_panel') }}" rel="stylesheet" />

    {% include '@ScriberAdminPanel/partial/head.html.twig' %}

    {% block css '' %}
    {% block js_header '' %}
</head>

<body>
<div id="notifications"></div>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image>
        <div class="sidebar-wrapper">
            {% block sidebar_items %}
                <ul class="nav nav-mobile-menu"></ul>
                <ul class="nav">
                    {% for item in rzeka_menu('scriber_admin_panel.sidebar').children %}
                        <li class="nav-item {% if item.active %}active{% endif %}">
                            <a class="nav-link" href="{{ item.link }}">
                                {% if item.attributes.icon is defined %}
                                    <i class="material-icons">{{ item.attributes.icon }}</i>
                                {% endif %}
                                <p>{{ item.title }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
        <div class="sidebar-background" style="background-image: url('{{ asset('bundles/scriberadminpanel/img/sidebar.jpg') }}') "></div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button href="" class="navbar-toggler navbar-toggler-right" type="button" id="sidebar-toggle">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    {% block top_right_nav_items %}
                    <ul class="navbar-nav ml-auto">
                        {% for item in rzeka_menu('scriber_admin_panel.top').children %}
                            <li class="nav-item {% if item.active %}active{% endif %}">
                                <a class="nav-link" href="{{ item.link }}">
                                    <span class="no-icon">{{ item.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                {% block content %}
                    <div id="app">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('scriberadminpanel/manifest.js', 'scriber_admin_panel') }}"></script>
<script src="{{ asset('scriberadminpanel/vendor.js', 'scriber_admin_panel') }}"></script>
<script src="{{ path('scriber_js_translation_dump', {page: 'default', locale: app.request.locale, _format: 'js'}) }}"></script>
{% if scriber.admin_base_url is defined %}
<script>$Scriber.baseUrl = '{{ scriber.admin_base_url }}';</script>
{% endif %}
{% include '@ScriberAdminPanel/partial/footer.html.twig' %}
{% block js_footer '' %}
</body>
</html>
